$color-primary-dark-blue:hsl(233, 26%, 24%);
$color-primary-lime-green:hsl(136, 65%, 51%);
$color-primary-bright-cyan:hsl(192, 70%, 51%);

$color-neutral-grayish-blue:hsl(233, 8%, 62%);
$color-neutral-light-grayish-blue:hsl(220, 16%, 96%);
$color-neutral-very-light-gray:hsl(0, 0%, 98%);
$color-neutral-white:hsl(0, 0%, 100%);


$font-size-h2-hero:50px;
$font-size-h2:40px;
$font-size-h3:22px;
$font-size-small:16px;

$font-weight-light:300;
$font-weight-medium:400;
$font-weight-bold:700;

$line-height:1.6;

